<template>
  <div class="container cart-container">
    <div class="d-flex justify-content-between text-muted" v-for="item, key in cart" :key="key">
      <div>{{item.name}}</div> 
      <div>{{item.price}}€</div>
    </div>
  </div>
  <div class="container d-flex justify-content-between">
    <div class="display-4">
      Summe: {{sum}}€
    </div>
    <button class="btn btn-warning" @click="reset">zurücksetzen</button>
  </div>
  <div class="grid-container">
    <ItemTile :name="'Bier 0,5l'" :price="4" :category="ItemCategories.GETRAENKE_ALK" :hasPfand="true" @add-to-cart="addToCart"/>
    <ItemTile :name="'Bier 0,3l'" :price="3" :category="ItemCategories.GETRAENKE_ALK" :hasPfand="true" @add-to-cart="addToCart"/>
    <ItemTile :name="'Wein'" :price="4.5" :category="ItemCategories.GETRAENKE_ALK" :hasPfand="true" @add-to-cart="addToCart"/>
    <ItemTile :name="'Wein schorle'" :price="3.5" :category="ItemCategories.GETRAENKE_ALK" :hasPfand="true" @add-to-cart="addToCart"/>
    <ItemTile :name="'Spezi'" :price="3" :category="ItemCategories.GETRAENKE_ANTIALK" :hasPfand="true" @add-to-cart="addToCart"/>
    <ItemTile :name="'Apfel schorle'" :price="3" :category="ItemCategories.GETRAENKE_ANTIALK" :hasPfand="true" @add-to-cart="addToCart"/>
    <ItemTile :name="'Johannis schorle'" :price="3" :category="ItemCategories.GETRAENKE_ANTIALK" :hasPfand="true" @add-to-cart="addToCart"/>
    <ItemTile :name="'Sprudel'" :price="2.5" :category="ItemCategories.GETRAENKE_ANTIALK" :hasPfand="true" @add-to-cart="addToCart"/>
    <ItemTile :name="'Cola/ Bluna'" :price="2.5" :category="ItemCategories.GETRAENKE_ANTIALK" :hasPfand="true" @add-to-cart="addToCart"/>
    <ItemTile :name="'Pommes'" :price="3" :category="ItemCategories.SPEISEN" :hasPfand="false" @add-to-cart="addToCart"/>
    <ItemTile :name="'Rote'" :price="3.5" :category="ItemCategories.SPEISEN" :hasPfand="false" @add-to-cart="addToCart"/>
    <ItemTile :name="'Steak wecken'" :price="5.5" :category="ItemCategories.SPEISEN" :hasPfand="false" @add-to-cart="addToCart"/>
    <ItemTile :name="'Falafel'" :price="4.5" :category="ItemCategories.SPEISEN" :hasPfand="false" @add-to-cart="addToCart"/>
    <ItemTile :name="'Frühlings rollen'" :price="4.5" :category="ItemCategories.SPEISEN" :hasPfand="false" @add-to-cart="addToCart"/>
    <ItemTile :name="'Pfand zurück'" :price="-2" :category="ItemCategories.SONSTIGES" :hasPfand="false" @add-to-cart="addToCart"/>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import ItemTile from './ItemTile.vue';
import ItemCategories from '../constants/ItemCategories';
import CartItem from '../types/CartItem';

export default defineComponent({
  name: 'HelloWorld',
  components: {
    ItemTile,
  },
  props: {
    msg: String,
  },
  data(){
    return {
      cart: [] as CartItem[],
      ItemCategories
    }
  },
  methods: {
    addToCart(name:string, price:number, pfand:boolean){
      this.cart.push({
        name,
        price,
      })
      if(pfand){
        this.cart.push({
          name: "Pfand",
          price: 2
        })
      }
    },
    reset(){
      this.cart = []
    }
  },
  computed:{
    sum(){
      return this.cart.reduce((n, {price}) => n + price, 0);
    }
  }
});
</script>

<style scoped>
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 10px;
    height: 70vh;
    overflow: scroll
  }
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: center;
  }
  .cart-container{
    height: 20vh;
    overflow: scroll;
    margin-top: 10px;
  }
</style>
