<template>
  <div class="item-tile" :class="classObject" @click="$emit('addToCart', name, price, hasPfand)">
    {{name}} ({{price}}€)
  </div>
</template>

<script>
import ItemCategories from '../constants/ItemCategories';

export default {
    props: {
        name: {
            required: true,
            type: String,
        },
        price: {
            required: true,
            type: Number
        },
        category: {
            required: true,
            type: String,
        },
        hasPfand: {
            required: true,
            type: Boolean
        }
    },
    computed: {
        classObject(){
            return {
                'item-tile': true,
                'getraenke-alk': this.category == ItemCategories.GETRAENKE_ALK,
                'getraenke-antialk': this.category == ItemCategories.GETRAENKE_ANTIALK,
                'speisen': this.category == ItemCategories.SPEISEN,
                'sonstiges': this.category == ItemCategories.SONSTIGES, 
            }
        }
    }
}
</script>

<style scoped>
    .item-tile{
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        font-size: 1.2rem;
        text-align: center;
    }
    .getraenke-alk{
        background-color: lightcoral !important;
    }
    .getraenke-antialk{
        background-color: lightgreen !important;
    }
    .speisen{
        background-color: lightpink !important;
    }
    .sonstiges{
        background-color: lightgray !important;
    }
</style>